{% extends 'driveapp/templates.html' %}


{% block title %}
    {{order.numberS}}
{% endblock %}

{% block content %}
<h1>Order {{order.number}}</h1>
<p>{{order}}</p>
        <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantité</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through the categories and display them in the table -->
        {% for List in l %}
            <tr>
                <td>{{ List.product.name }}</td>
                <td>{{ List.quantity }}</td>
                <td>{{ List.product.price }}€/unite</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/list/add/{{ order.id }}"> Add a product to the list </a>

{% endblock %}