{% extends "driveapp/templates.html" %}

{% block title %}Home Product{% endblock %}

{% block content %}
    <h1>Home Product</h1>
    <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through the categories and display them in the table -->
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            <!-- Add a link to view the product -->
                            <a href="/product/view/{{ product.id }}" class="btn btn-warning">View</a>
                            <!-- Add a link to edit the category -->
                            <a href="/product/update/{{ product.id }}" class="btn btn-warning">Edit</a>
                            <!-- Add a form to delete the category -->
                            <a href="/product/delete/{{ product.id }}" class="btn btn-warning">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}